body {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans";
    text-align: center;
    margin: auto;
    
}

.header {
    width: 1403px;    
    height: 782px;
    max-width: 100%;    
    background-color: #000000;
    background-image: url(./Img/Header_bg_img.png);
}

#nav {
    background-color: #ffffff;    
    height: 123px;
    width: 100%;    
    padding-top: 40px;
    
}

#brand-name {
    display: flex;
    font-size: 25px;
    line-height: 22px;
    color: #212121;    
    font-weight: 700;    
    margin-left: 100px;

}

.nav-link {
    color: #212121;
}

#nav-list {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 600;  
}

#nav-list li {
    padding-left: 35px;
}

#search {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;
    text-align: right;
    margin-right: 110px;
    margin-left: 20px;
}

.row h1 {    
    font-size: 60px;
    letter-spacing: 3px;
    line-height: 22px;
    color: #ffffff;    
    font-weight: 600;
    margin: auto;
    margin-top: 180px;    
}

#home p {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    margin: auto;
    margin-top: 45px;
}

.row button {
    margin-top: 110px;
}

.leftButton, .rightButton {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;    
    width: 220px;
    height: 70px;
    background-color: #ffffff;
    border: 3px solid #f8f8f8;  
    background: transparent;  
}
.leftButton:hover, .rightButton:hover {
    background-color: #00897b;
    border: none;
}

.arrow {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 100px;    
}

#about {
    width: 1402px;
    height: 672px;
    max-width: 100%;

}

#about h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #212121;    
    font-weight: 700;
    margin: 0 auto; 
    margin-top: 125px;      
}

#about .row p {
    width: 641px;
    height: 52px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 400;
    margin: 0 auto;
    margin-top: 35px;    
}

.aboutCards{
    margin-top: 110px;
}   

.card {
    border: none;
    width: 370px;
    height: 328px;
    /* background-color: #d6b3b3; */
    padding-top: 10px;
}

.card-img-top {
    width: 55px;
    height: 55px;
    margin: 0 auto;
}

.card-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 600;    
}

#about .row .card-text {
    width: 270px;
    height: 76px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 400;   
}

#servicing {
    width: 1402px;
    height: 1414px;
    max-width: 100%;
    background-color: #e4fdf9;    
}
