body {
    display: block;
    position: relative;
    width: 100%;
    max-width: 100%;
    background-color: #ffffff;
    margin: 0;
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans";
    text-align: center;    
}

.header {
    width: 1403px;    
    height: 782px;
    max-width: 100%;
    background-color: #000000;
    background-image: url(./Img/Header/Header_bg_img.png);
}

#nav {
    background-color: #ffffff;    
    height: 123px;
    width: 100%;    
    padding-top: 40px;
    
}

#brand-name {
    display: flex;
    font-size: 25px;
    line-height: 22px;
    color: #212121;    
    font-weight: 700;    
    margin-left: 90px;
}

.nav-link {
    color: #212121;
}

#nav-list {
    display: flex;
    flex-direction: row;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 600;
    margin: auto; 
}

#nav-list li {
    padding-left: 35px;
}

#search {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;
    text-align: right;
    margin-right: 110px;
    margin-left: 20px;
}

#home h1 {    
    font-size: 60px;
    letter-spacing: 3px;
    line-height: 22px;
    color: #ffffff;    
    font-weight: 600;
    margin: auto;
    margin-top: 180px;
}

#home p {
    font-size: 22px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-weight: 400;
    margin: auto;
    margin-top: 45px;
}

/* #home .row button {
    margin-top: 110px;
} */

.leftButton, .rightButton {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;    
    width: 220px;
    height: 70px;
    background-color: #ffffff;
    border: 3px solid #f8f8f8;  
    background: transparent;
    float: right; 
}

.landingButtons{
    margin-top: 110px;
}

.rightButton {
    background-color: #00897b;
    border: none;
    float: left;
}

/* changing bg-color on hover*/
/* .leftButton:hover, .rightButton:hover {
    background-color: #00897b;
    border: none;
} */

.arrow {
    font-size: 25px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    margin-top: 100px;    
}

@media only screen and (max-width : 1000px) {
    #home h1 {
        line-height: 52px;
    }
    .landingButtons div {
        width: 50%;
    }
    .arrow {
        margin-top: 50px;
    }
}

@media only screen and (max-width : 600px) {
    #home h1 {
        margin-top: 120px;
        font-size: 50px;
    }
    .landingButtons {
       display: flex;
       flex-direction: column;
       margin-top: 80px;                         
   }

   .landingButtons div {
        display: flex;
        width: 100%;
        justify-content: center;        
   }   

   .leftButton {
        margin-bottom: 5px;        
   }

   .leftButton, .rightButton {
        float: none;
   }

   .arrow {
       margin-top: 30px;
   }
}

/* about section */

#about {
    width: 1402px;
    height: 672px;
    max-width: 100%;
    height: auto;
}

#about h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #212121;    
    font-weight: 700;
    margin: 0 auto; 
    margin-top: 125px;      
}

#about .row p {
    width: 641px;
    height: 52px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 400;
    margin: 0 auto;
    margin-top: 35px;    
}

.aboutCards{
    margin-top: 110px;
}   

#about .card {
    border: none;
    width: 370px;
    height: 328px;
    /* background-color: #d6b3b3; */
    padding-top: 10px;
}

#about .card-img-top {
    /* width: 60px; */
    height: 55px;
    margin: 0 auto;
}

.card-title {
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 600;
    margin-top: 25px;  
}

#about .row .card-text {
    width: 270px;
    height: 76px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 400;   
}


@media only screen and (max-width : 1000px) {
    .aboutCards {
        margin-top: 55px;
    }

    .aboutCards .col-lg-4 {
        display: flex;        
        justify-content: center;
    }

    #about .card {
        height: auto !important;
    }
}

/* servicing section */

#servicing {
    width: 1402px;
    height: 1414px;
    max-width: 100%;
    background-color: #e4fdf9;    
}

#servicing h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #212121;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 175px;
}

#servicing p {
    width: 641px;
    height: 52px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;   
    font-weight: 400;
    margin: 0 auto;
    margin-top: 38px;
    margin-bottom: 115px;
}

#servicing div .card {
    width: 370px;
    height: 438px;
    border-radius: 0;
    border: none;      
}

#servicing img {
    width: 55px;
    height: 60px;
    margin: 0 auto;
    margin-top: 57px;
}

#servicing .whiteImg {
    display: none;
    position: absolute;    
    z-index: 99;
}

#servicing .card-text {
    width: 285px;
    height: 92px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 25px;
    color: #212121;    
    font-weight: 400;
    margin: 0 auto;
    margin-top: 25px;
}

.servicingButton {
    width: 150px;
    height: 55px;    
    border: 2px solid #212121;
    border-radius: 0;
    padding: 0;
    padding-top: 13px;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 600;
    margin-top: 40px;     
}

@media only screen and (max-width : 1000px) {
    
}


/* servising hover card */

#servicing .card:hover {
    box-shadow: 0px 10px 20px rgba(0,0,0,0.35);
    background-color: #00897b;    
}

#servicing .card:hover .whiteImg {
    display: inline;
    margin-left: 157.5px;  
}

#servicing .card:hover .card-text, #servicing .card:hover .card-title, #servicing .card:hover .servicingButton {
    color: #ffffff;
    
}

#servicing .card:hover .servicingButton {
    border: 2px solid #ffffff;
}

/* portfolio */

#portfolio {
    width: 1402px;
    height: 1616px;
    max-width: 100%;
}

#portfolio h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #212121;    
    font-weight: 700;
    margin: 0 auto;
    margin-top: 130px;    
}

#portfolio p {
    width: 641px;
    height: 52px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 35px;
}

.portfolioTopButtons {
    display: flex;
    justify-content: center;
    margin-top: 110px;
    margin-bottom: 120px;
}

.portfolioTopButtons button {
    width: 179px;
    height: 55px;    
    border: 2px solid #00897b;
    background-color: #ffffff;
    border-radius: 0;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;    
    font-weight: 600;
    margin-right: 20px;  
}

.portfolioTopButtons .allBtn {
    width: 100px;
    background-color: #00897b;
    color: #ffffff;
}

.portfolioTopButtons button:hover {
    background-color: #27be9f;
    color: #ffffff;
    border: none;
}

.portfolioImage img {
    width: 370px;
    height: 370px;
    background-color: #000000;
}

.portfolioBottomButton {
    justify-content: center;
    margin-top: 120px;
}

.portfolioBottomButton button {
    width: 220px;
    height: 70px;
    background-color: #00897b;
    font-size: 20px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #ffffff;
    font-family: "Roboto";
    font-weight: 700;
    border: none;    
}

/* Pricing Plan section */

#pricingPlan {
    width: 1401px;
    height: 1142px;
    background-color: rgba(6,12,11,0.2);
    max-width: 100%;
}

#pricingPlan h2 {
    font-size: 30px;
    letter-spacing: 2px;
    line-height: 22px;
    color: #212121;    
    font-weight: 700;
    margin: 0 auto;
    margin-top: 130px;
}

#pricingPlan p {
    width: 641px;
    height: 52px;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 22px;
    color: #212121;  
    font-weight: 400;
    margin: 0 auto;
    margin-top: 35px;
}